@import url("/web-frontend/assets/css/custom/fonts.css");
/* FONTS */
/* COLORS */
#clone_section {
  display: none;
}
#clone_invited_user {
  display: none;
}
#section_wrapper {
  margin: 24px auto 0;
  max-width: 1055px;
}
#section_wrapper > ul {
  display: flex;
  margin: 0;
  padding: 0;
}
#section_wrapper > ul li {
  align-items: center;
  display: flex;
  list-style: none;
}
#section_wrapper > ul li::before {
  margin-right: 11px;
}
#section_wrapper > ul li a {
  color: #009ebe;
  font: 14px/20px "Roboto-Medium";
  text-decoration: none;
}
#section_wrapper > ul li.documentation_link::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -202px -12px;
  content: "";
  height: 12px;
  width: 16px;
}
#section_wrapper > ul li.section_link::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -348px -12px;
  content: "";
  height: 13px;
  width: 18px;
}
#section_wrapper > ul li:after {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -426px -11px;
  content: "";
  height: 14px;
  margin: 0 18px;
  width: 10px;
}
#section_wrapper > ul li:last-child::after {
  display: none;
}
#section_wrapper > ul li.active a {
  color: #7d949d;
}
#section_wrapper #section_main_contents {
  display: flex;
  justify-content: stretch;
  margin: 23px 0 50px;
}
#section_wrapper #section_main_contents > div {
  margin-left: auto;
}
#section_wrapper #section_main_contents #documents_editable_form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 23px 24px 29px;
  width: 360px;
}
#section_wrapper #section_main_contents #documents_editable_form input[type=text] {
  border: none;
  outline: none;
  padding: 0 0 0;
  width: 100%;
}
#section_wrapper #section_main_contents #documents_editable_form textarea::placeholder,
#section_wrapper #section_main_contents #documents_editable_form input[type=text]::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #documents_editable_form textarea::placeholder,
#section_wrapper #section_main_contents #documents_editable_form input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #documents_editable_form textarea::placeholder,
#section_wrapper #section_main_contents #documents_editable_form input[type=text]::placeholder {
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #documents_editable_form #documents_title {
  color: #1d333b;
  font: 22px/28px "Roboto-Regular";
  margin: 0 0 0;
}
#section_wrapper #section_main_contents #documents_editable_form #viewers_editors_count {
  cursor: pointer;
  display: flex;
  margin: 17px 0 24px;
}
#section_wrapper #section_main_contents #documents_editable_form #viewers_editors_count::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -815px -11px;
  content: "";
  height: 12px;
  margin-right: 5px;
  width: 21px;
}
#section_wrapper #section_main_contents #documents_editable_form #viewers_editors_count span {
  color: #009ebe;
  font: 12px/16px "Roboto-Medium";
}
#section_wrapper #section_main_contents #documents_editable_form textarea {
  border: none;
  overflow: hidden;
  resize: none;
  width: 100%;
}
#section_wrapper #section_main_contents #documents_editable_form p:first-of-type {
  margin: 0 0 25px;
}
#section_wrapper #section_main_contents #documents_editable_form p,
#section_wrapper #section_main_contents #documents_editable_form textarea {
  color: #4b626a;
  font: 16px/24px "Roboto-Regular";
  margin: 0 0 0;
  outline: none;
}
#section_wrapper #section_main_contents #documents_editable_form #private_setting_block {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0 0;
  width: 100%;
}
#section_wrapper #section_main_contents #documents_editable_form #private_setting_block button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #009ebe;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  outline: none;
}
#section_wrapper #section_main_contents #documents_editable_form #private_setting_block button::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -776px -10px;
  content: "";
  height: 17px;
  margin-right: 9px;
  width: 12px;
}
#section_wrapper #section_main_contents #create_section_block {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  width: 663px;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form {
  position: relative;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form.floated {
  background-color: rgba(20, 184, 166, 0.1);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 20px 0 20px 393px;
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 99;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form.floated > div {
  margin: 0 auto;
  position: relative;
  width: 663px;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label {
  background-color: #f0fdfa;
  border-bottom: 2px solid #14b8a6;
  border-radius: 8px 8px 0px 0px;
  height: 58px;
  padding: 8px 0 0 11px;
  width: 100%;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label span {
  display: block;
  font: 12px/16px "Roboto-Medium";
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label input[type=text] {
  background-color: transparent;
  border: none;
  color: #1d333b;
  font: 16px/24px "Roboto-Medium";
  outline: none;
  width: 100%;
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label input[type=text]::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #create_section_block #add_section_form label input[type=text]::placeholder {
  color: rgba(0, 11, 29, 0.4);
}
#section_wrapper #section_main_contents #create_section_block #add_section_form button {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -602px -7px;
  border: none;
  content: "";
  height: 26px;
  outline: none;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}
#section_wrapper #section_main_contents #create_section_block ul {
  margin: 12px 0 0;
  padding: 0 0 0;
}
#section_wrapper #section_main_contents #create_section_block ul li {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  height: 94px;
  list-style: none;
  margin-bottom: 12px;
}
#section_wrapper #section_main_contents #create_section_block ul li:last-child {
  margin-bottom: 0;
}
#section_wrapper #section_main_contents #create_section_block ul li.active {
  border: 1px solid #14b8a6;
}
#section_wrapper #section_main_contents #create_section_block ul li:hover {
  border: 1px solid #14b8a6;
}
#section_wrapper #section_main_contents #create_section_block ul li:hover > div div h3 button {
  opacity: 1;
}
#section_wrapper #section_main_contents #create_section_block ul li > div {
  align-items: center;
  display: flex;
  height: 100%;
  outline: none;
  text-decoration: none;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div:first-child {
  align-items: center;
  background-color: #f0fdfa;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 44px;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div:first-child::before {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -862px -7px;
  content: "";
  height: 24px;
  width: 13px;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div:last-child {
  padding-left: 26px;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div p {
  -webkit-box-orient: vertical;
  color: #7d949d;
  display: -webkit-box;
  font: 14px/20px "Roboto-Medium";
  -webkit-line-clamp: 1;
  margin: 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div h3 {
  align-items: center;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: flex;
  -webkit-line-clamp: 1;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div h3 a {
  -webkit-box-orient: vertical;
  color: #14b8a6;
  display: -webkit-box;
  font: 16px/20px "Roboto-Medium";
  -webkit-line-clamp: 1;
  margin-right: 30px;
  max-width: 400px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div h3 button {
  background: url("/web-frontend/assets/images/svg_icons_stripe.svg");
  background-position: -697px -9px;
  border: none;
  height: 20px;
  opacity: 0;
  outline: none;
  transition: all .21s;
  width: 13px;
}
#section_wrapper #section_main_contents #create_section_block ul li > div div h3 button.delete_section {
  background-position: -736px -9px;
  margin-left: 9px;
}
#section_wrapper #section_main_contents #no_section_data_logo {
  display: block;
  margin: 200px auto;
}
#confirm_modal .modal-dialog {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 160px auto;
  max-width: 328px;
  padding: 20px 35px 24px;
}
#confirm_modal .modal-dialog .modal-content {
  border: none;
}
#confirm_modal .modal-dialog .modal-content p {
  color: #4B626A;
  font: 16px/24px "Roboto-Regular";
  margin: 0 0 17px;
  text-align: center;
}
#confirm_modal .modal-dialog .modal-content p span {
  font: 16px/24px "Roboto-Regular";
}
#confirm_modal .modal-dialog .modal-content div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
#confirm_modal .modal-dialog .modal-content div button {
  background-color: transparent;
  border: none;
  color: #7D949D;
  font: 16px/24px "Roboto-Medium";
  height: 40px;
  width: 80px;
}
#confirm_modal .modal-dialog .modal-content div button:last-child {
  background-color: #009ebe;
  border-radius: 8px;
  color: #ffffff;
  margin-left: 24px;
  transition: .21s;
}
#confirm_modal .modal-dialog .modal-content div button:last-child:hover {
  opacity: .8;
}
#invite_user_modal .modal-dialog {
  max-width: 611px;
}
#invite_user_modal .modal-dialog .modal-content {
  padding: 24px;
}
#invite_user_modal .modal-dialog .modal-content .modal-header {
  align-items: center;
  border-bottom: none;
  display: flex;
  padding-bottom: 2px;
}
#invite_user_modal .modal-dialog .modal-content .modal-header h5 {
  margin: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown {
  margin-left: 12px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown #added_email_status,
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown .update_status {
  background: transparent;
  border: 1px solid #7d949d;
  color: #7d949d;
  font: 16px/20px "Roboto-Regular";
  height: 48px;
  outline: none;
  width: 134px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown #added_email_status::after,
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown .update_status::after {
  margin-left: 15px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown ul.dropdown-menu li button {
  background: transparent;
  color: #7d949d;
  font: 14px/18px "Roboto-Medium";
  height: 48px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .dropdown ul.dropdown-menu li button.active {
  background: #dbf5ff;
  color: #009ebe;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block {
  align-items: flex-start;
  display: flex;
  position: relative;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .added_email_list {
  align-items: center;
  border: 1px solid #7d949d;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  min-height: 48px;
  padding: 8px;
  position: relative;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .added_email_list li {
  align-items: center;
  border: 1px solid #7d949d;
  border-radius: 20px;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  height: 32px;
  justify-content: center;
  padding: 8px 12px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .added_email_list li:last-child {
  border: none;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .added_email_list li .btn-close {
  cursor: pointer;
  height: .5em;
  margin-left: 24px;
  width: .5em;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .added_email_list li .add_email_input {
  border: none;
  font: 12px/16px "Roboto-Medium";
  outline: none;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  left: 0;
  margin: 0;
  padding: 0;
  padding: 10px 24px;
  position: absolute;
  width: 387px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search li {
  align-items: center;
  display: flex;
  height: 62px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search li img {
  height: 40px;
  width: 40px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search li .user_details {
  margin-left: 16px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search li .user_details h3 {
  color: #1d333b;
  font: 14px/16px "Roboto-Medium";
  margin: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .add_email_block .filter_email_search li .user_details a {
  color: #009ebe;
  font: 12px/16px "Roboto-Medium";
}
#invite_user_modal .modal-dialog .modal-content .modal-body > h5 {
  margin-top: 21px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li {
  align-items: center;
  display: flex;
  height: 62px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li img {
  height: 40px;
  width: 40px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li .user_details {
  margin-left: 16px;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li .user_details h3 {
  color: #1d333b;
  font: 14px/16px "Roboto-Medium";
  margin: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li .user_details a {
  color: #009ebe;
  font: 12px/16px "Roboto-Medium";
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li > h5 {
  color: #7d949d;
  font: 16px/24px "Roboto-Regular";
  margin-left: auto;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li .dropdown {
  margin-left: auto;
}
#invite_user_modal .modal-dialog .modal-content .modal-body .with_access_list li .dropdown .update_status {
  border: none;
  width: unset;
}
#invite_user_modal .modal-dialog .modal-content .modal-footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-footer .copy_link {
  align-items: center;
  background: transparent;
  border: none;
  color: #009ebe;
  display: flex;
  font: 12px/16px "Roboto-Medium";
  justify-content: center;
  margin-top: 21px;
  padding: 0;
}
#invite_user_modal .modal-dialog .modal-content .modal-footer .copy_link .copy_link_icon {
  background: url("../../../images/link_icon.svg") no-repeat 0px 0px;
  display: block;
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
